@charset "utf-8";
/* CSS Document */
body{
background-color:#000;
font-family: Segoe print, Lucida Calligraphy ,Consolas,'Lucida Grande','Lucida Console';
font-size:16px;
text-shadow:rgba(0,0,0,0.01) 0 0 0;
color: #02a7ff;
}
#wrapper{
width:960px;
margin:0 auto;
}
#content{
width:960px;
margin:5px;
float:left;
}
#nav{
			margin: 50px auto 0 auto;
			width: 1000px;
			height: 15px;
			padding: 20px;
		 }
		 
		 #nav a:hover{
			color: green;
		 }
		 
		 #nav ul li{
			display: inline;
		}	
/************************************************/
.signup_wrap{
height:25px;
width:100%;
padding:5px;
background-color:#000;
color: #ff0082;
}
.signin_form{
float:right;
}
.signin_form input{
width:80px;
}
.reg_form{
width:460px;
padding:20px;
margin:0 auto;
/*
border:3px solid #DFDFDF;
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#E7B4DF));
background: -moz-linear-gradient(top,  #fff,  #E7B4DF);*/

}
.form_title,
.form_sub_title{
font-size:20px;

font-family: Segoe print, "Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
font-size:20px;
font-weight:bold;
color: #02a7ff;
}
.form_sub_title{
font-weight:normal;
padding:6px 0 15px 0;
color: #ff0082;
}
.reg_form p{
width: 300px;
clear: left;
margin: 0;
padding: 5px 0 8px 0;
padding-left: 155px; /*width of left column containing the label elements*/
border-top: 1px dashed gray;
height: 1%;
}
.reg_form label{
font-weight: bold;
float: left;
margin-left: -155px; /*width of left column*/
width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
color: #ff0082;
}
input{
padding:3px;
color:#333333;
border:1px solid #96A6C5;
margin-top:2px;
width:180px;
font-size:11px;
}
.ThaButton{
width:auto;
margin:10px 0 0 2px;
padding:6px 7px 6px 7px;
color:white;
background-color:#02a7ff;
outline:none;
border:1px solid #0069A2;
font-weight:bold;
}
.ThaButton:active{
background-color:#0069A2;
padding:4px 3px 2px 5px;
}
.error{
color:#F00;
}
#footer{
color:#96A6C5;
padding-top:20px;
text-align:center;
background: #000; 
height: 20px;
clear:both;
}